<%- include("./includes/header.ejs") %>
<h1 style="text-align: center; padding: 20px; background-color: lightblue">
  ToDo App
</h1>
<div class="container mt-5">
  <form action="/add/todo" method="POST" class="d-flex">
    <div class="input-group input-group-lg">
      <input
        type="text"
        name="todo"
        class="form-control"
        placeholder="Enter Task"
      />
    </div>

    <input type="submit" value="Add Task" class="btn btn-md btn-primary ml-5" />
  </form>

  <ol class="list-group my-5">
    <% todo.forEach(todos => { %>
    <li class="list-group-item d-flex justify-content-between">
      <div><%= todos.todo %></div>
      <a href="/delete/todo/<%= todos._id %>" class="btn btn-danger btn-sm"
        >Delete</a
      >
    </li>

    <% }) %>
  </ol>
</div>

<%- include("./includes/footer") %>
